/* Car List Styles */

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: #FCF4DC;
}

.carDetailBody {
    font-size: 21px;
    font-family: Helvetica;
    padding: 20px;
}
