.Actions span {
  border-radius: 200%;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 49px;
  margin: 10px 15px 10px 15px;
  padding-top: 8px;
  text-align: center;
  transition-duration: 0.1s;
  transition-property: transform;
  width: 50px;
  font: 22px Arial;
}

.Actions span:hover {
  transform: scale(1.1);
}

.Actions .ActionsInfo {
  border-color: #3498DB;
  color: #3498DB;
}

.Actions .ActionsDelete {
  border-color: #B7477D;
  color: #B7477D;
}