
.Cinepad {
    font-family: Norican, cursive;
    font-size: 28px;    
}

.Cinepad .cine-header{
    background-color: gold;
}

.Cinepad .datagrid{
    margin: 40px;
}

.toolbarAddButton {
  font-size: 32px;
}

