body {
  background-color: #FFF;
}


h2, p, li{
  font-family: Helvetica, Arial, sans-serif;
}

.homeList li {
  list-style: none;

}

a:link {
    text-decoration: none;
}

.content {
  background-color: #FFF;
  height: 900px;
}
.content h2 {
  padding: 0;
  margin: 0;
}

  .bg-1 { 
      background-color: #663399; /* Purple */
      color: #ffffff;
        padding-top: 30px;
        padding-bottom: 70px;
  }
  .bg-2 { 
      background-color: #FFF8DC; /* cream */
      color: black;
        padding-top: 50px;
        padding-bottom: 70px;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
        padding-top: 40px;
        padding-bottom: 70px;
      color: black;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  
  .whatPara {
      font-size: 26px;
  }
  
  .margin {
      font-size: 32px;
   }
   
   .padTitle {
        padding-top: 10px;
        padding-bottom: 30px;
   }
   
   .cine-header {
      background-color: gold; 
   }

.homeHeader{
    background-color: #663399;
    color: white;
}

.mycontainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: -23px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF8DC;
}

.mycontainer:hover .overlay {
  opacity: 1; 
}

.text {
  color: #663399;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} 