body {
  background-color: #5F9EA0;
}

h1 {
  color: #EEE8D5;
  font-family: 'Bree Serif', serif;
  font-weight: normal;

}
h2, p, li{
  font-family: Helvetica, Arial, sans-serif;
}

.homeList li {
  list-style: none;

}

a:link {
    text-decoration: none;
}

/*ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  background-color: #DEB887;
}*/

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
